{{- $pages := slice }}
{{- with .CurrentSection }}
{{- $pages = .RegularPages.ByDate.Reverse }}
{{- end }}
{{- if eq (len $pages) 0 }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}
{{- $pages = where $pages "Params.excludeFromNav" "!=" true }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title secondary-action">&laquo; {{ i18n "prev_page" | default "Previous" }}</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title secondary-action">{{ i18n "next_page" | default "Next" }} &raquo;</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
