{{- $title := .Title | htmlUnescape -}}
{{- $lines := slice (printf "# %s" $title) "" (printf "URL: %s" .Permalink) -}}
{{- $summary := .Description | default .Params.summary | plainify | htmlUnescape | strings.TrimSpace -}}
{{- with $summary -}}
  {{- $lines = $lines | append "" . -}}
{{- end -}}
{{- $body := .RawContent | htmlUnescape | strings.TrimSpace -}}
{{- with $body -}}
  {{- $lines = $lines | append "" . -}}
{{- end -}}
{{- $pages := where .Pages "Sitemap.Disable" "ne" true -}}
{{- if gt (len $pages) 0 -}}
  {{- $lines = $lines | append "" "## Pages" "" -}}
  {{- range $pages.ByTitle -}}
    {{- if not .Params.searchHidden -}}
      {{- $url := .Permalink -}}
      {{- with .OutputFormats.Get "pagemarkdown" -}}
        {{- $url = .Permalink -}}
      {{- end -}}
      {{- $lines = $lines | append (printf "- [%s](%s)" (.Title | htmlUnescape) $url) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return (delimit $lines "\n") -}}
