<div class="menu-card">
  <div class="menu-items">
    {{ .Inner }}
  </div>

  {{- $dateFormatted := .Page.Date | time | dateFormat "January 2, 2006" -}}
  {{- $author := .Page.Params.author | default site.Params.author -}}

  <div class="menu-footer">
    <div class="menu-date">
      <time datetime="{{ .Page.Date.Format "2006-01-02" }}">{{ $dateFormatted }}</time>
    </div>
    {{- with $author }}
    <div class="menu-author">
      <span>{{ . }}</span>
    </div>
    {{- end }}
  </div>
</div>
