{{- $sectionName := .Get "section" }}
{{- $tags := "tags" }}
{{- $pages := slice }}
{{- $err := "" }}
{{- if $sectionName }}
  {{- $targetPath := printf "%s/%s" .Page.Section $sectionName }}
  {{- $subsection := site.GetPage "section" $targetPath }}

  {{- if $subsection }}
    {{- $subsectionPages := $subsection.Pages }}
    {{- if $subsectionPages }}
      {{- $pages = $subsectionPages.ByTitle }}
    {{- else }}
      {{- $err = printf "No recipes found in %q subsection." $sectionName }}
    {{- end }}
  {{- else }}
    {{- $err = printf "Recipe subsection %q not found at path %q." $sectionName $targetPath }}
  {{- end }}
{{- else }}
  {{- $section := site.GetPage "section" .Page.Section }}
  {{- with $section }}
    {{- $pages = .RegularPages.ByTitle }}
  {{- else }}
    {{- $err = printf "Recipe section %q not found." .Page.Section }}
  {{- end }}
{{- end }}

{{- if $pages }}
<div class="recipe-list-shortcode">
  <ul class="recipe-index-list">
    {{- range $pages }}
    <li class="recipe-index-item">
      <h3 class="recipe-index-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      {{- partial "tags/rail.html" (dict "terms" (.GetTerms $tags) "class" "recipe-index-tags" "listClass" "recipe-index-tag-list" "label" "recipe tags") }}
    </li>
    {{- end }}
  </ul>
</div>
{{- else if $err }}
<p>{{ $err }}</p>
{{- end }}
